.auth-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 1.5rem;
}

mat-card-title{
 padding-bottom: 20px;
}

mat-form-field {
 padding-top: 20px;
 }